<div class="blade-content __large-wide">
  <div class="blade-inner">
    <div class="inner-block">

      <div class="list __items" ng-if="blade.title || blade.stageDescription">
        <div class="list-item">
          <div class="list-tile">
            <div class="list-tile__stageDescription" ng-if="blade.stageDescription">{{blade.stageDescription}}</div>
          </div>
        </div>
      </div>

      <div class="table-wrapper">
        <div ui-grid="gridOptions"
             ui-grid-auto-resize
             ui-grid-resize-columns
             ui-grid-move-columns
             ui-grid-height>
        </div>
      </div>

    </div>
  </div>
</div>